<div class="flex flex-col justify-between items-center w-full h-[75vh] text-center pt-24 md:pt-0">
  <div></div>
  <h1 class="tracking-widest text-yellow-500 text-9xl font-bold">LOGO TBD</h1>
  <div class="flex flex-col text-center items-center">
    <p class="text-red-300"><%= alert %></p>
    <%= form_with url: nil, class: "flex flex-col items-center h-14", data: { controller: :search, action: "submit->search#search" } do |form| %>
      <div class="flex h-14">
        <%= select_tag :region, options_for_select(Summoner.regions.keys.map(&:upcase), :NA1), data: { search_target: :region },
          class: "bg-gray-50 border border-gray-300 text-gray-900 text-lg text-center rounded-l-full pl-3 pr-7" %>
        <%= text_field_tag :name, nil, placeholder: "Summoner name", data: { search_target: :name },
          class: "rounded-r-full border border-gray-300 border-l-0 w-60 md:w-80 text-lg text-gray-900 pl-8" %>
      </div>
    <% end %>
  </div>

  <small>Bandleglass is not endorsed by Riot Games and does not reflect the views or opinions of Riot Games or anyone officially involved in producing or managing Riot Games properties. Riot Games and all associated properties are trademarks or registered trademarks of Riot Games, Inc</small>
</div>
