<p style="color: green"><%= notice %></p>

<h1>Summoners</h1>

<div id="summoners">
  <% @summoners.each do |summoner| %>
    <%= render summoner %>
    <p>
      <%= link_to "Show this summoner", summoner %>
    </p>
  <% end %>
</div>

<%= link_to "New summoner", new_summoner_path %>
